/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
/* line 8, ../../../sass/main/layouts/base-grid.scss */
.section {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  outline: green dashed 1px; }

/* line 13, ../../../sass/main/layouts/base-grid.scss */
.container {
  max-width: 960px;
  margin: 0 auto; }

/* line 17, ../../../sass/main/layouts/base-grid.scss */
.container-full {
  max-width: 980px;
  margin: 0 auto; }

/* Fluid Grid */
/* line 22, ../../../sass/main/layouts/base-grid.scss */
.col {
  margin-left: 1.64%;
  float: left;
  outline: red dashed 1px; }

/* line 27, ../../../sass/main/layouts/base-grid.scss */
.col:first-child {
  margin-left: 0; }

/* Columns */
/* line 32, ../../../sass/main/layouts/base-grid.scss */
.one {
  /* width: 6.333%; */
  width: 6.86%; }

/* line 36, ../../../sass/main/layouts/base-grid.scss */
.two {
  /* width: 14.667%; */
  width: 15.32%; }

/* line 40, ../../../sass/main/layouts/base-grid.scss */
.three {
  /* width: 23.0%; */
  width: 23.78%; }

/* line 44, ../../../sass/main/layouts/base-grid.scss */
.four, .eight-by-four:last-of-type {
  /* width: 31.333%; */
  width: 32.24%; }

/* line 48, ../../../sass/main/layouts/base-grid.scss */
.five {
  /* width: 39.667%; */
  width: 40.7%; }

/* line 52, ../../../sass/main/layouts/base-grid.scss */
.six {
  /* width: 48.0%; */
  width: 49.16%; }

/* line 56, ../../../sass/main/layouts/base-grid.scss */
.seven {
  /* width: 56.333%; */
  width: 57.62%; }

/* line 60, ../../../sass/main/layouts/base-grid.scss */
.eight, .eight-by-four:first-of-type {
  /* width: 64.667%; */
  width: 66.08%; }

/* line 64, ../../../sass/main/layouts/base-grid.scss */
.nine {
  /* width: 73.0%; */
  width: 74.54%; }

/* line 68, ../../../sass/main/layouts/base-grid.scss */
.ten {
  /* width: 81.333%; */
  width: 83%; }

/* line 72, ../../../sass/main/layouts/base-grid.scss */
.eleven {
  /* width: 89.667%; */
  width: 91.46%; }

/* line 76, ../../../sass/main/layouts/base-grid.scss */
.twelve {
  width: 100%; }

/* line 79, ../../../sass/main/layouts/base-grid.scss */
.half {
  width: 48.0%; }

/* line 82, ../../../sass/main/layouts/base-grid.scss */
.one-third {
  width: 31.333%; }

/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 720px) and (max-width: 959px) {
  /* line 99, ../../../sass/main/layouts/base-grid.scss */
  html body {
    max-width: 959px;
    padding: 0;
    margin: 0; }

  /* line 104, ../../../sass/main/layouts/base-grid.scss */
  .container {
    width: 700px; }

  /* line 107, ../../../sass/main/layouts/base-grid.scss */
  .notablet {
    display: none; }

  /* line 110, ../../../sass/main/layouts/base-grid.scss */
  .showtablet {
    display: block; } }
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 719px) {
  /* line 119, ../../../sass/main/layouts/base-grid.scss */
  html body {
    max-width: 100%;
    padding: 0;
    margin: 0; }

  /* line 136, ../../../sass/main/layouts/base-grid.scss */
  .one,
  .two,
  .three,
  .four,
  .eight-by-four:last-of-type,
  .five,
  .six,
  .seven,
  .eight,
  .eight-by-four:first-of-type,
  .nine,
  .ten,
  .eleven,
  .twelve,
  .eight-by-four {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none; }

  /* line 142, ../../../sass/main/layouts/base-grid.scss */
  .container {
    padding-left: 20px;
    padding-right: 20px; }

  /* line 147, ../../../sass/main/layouts/base-grid.scss */
  .navigation a:active,
  .navigation a:visited {
    color: #ffffff; }

  /* line 150, ../../../sass/main/layouts/base-grid.scss */
  .navigation a:hover {
    background-color: #333333; }

  /* line 153, ../../../sass/main/layouts/base-grid.scss */
  .menu {
    list-style: none;
    padding: 0;
    margin: 0; }

  /* line 159, ../../../sass/main/layouts/base-grid.scss */
  .nav-toggle,
  .menu a {
    display: block;
    background-color: #111111;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-top: 1px;
    text-decoration: none; }

  /* line 168, ../../../sass/main/layouts/base-grid.scss */
  .nomobile {
    display: none; }

  /* line 171, ../../../sass/main/layouts/base-grid.scss */
  .showmobile {
    display: block; } }
/* End Mobile Media Query */
/* ==========================================================================
/* -- Print Layout
   ========================================================================== */
@media print {
  /* line 180, ../../../sass/main/layouts/base-grid.scss */
  body {
    font-family: serif;
    /* Serif is easier to read offscreen */
    margin: 0.5cm; } }
/* End Print Media Query */
