/*
  This is a compiled file.
*/
/* line 12, ../sass/vendor/boilerplate-1.0/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/vendor/boilerplate-1.0/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/vendor/boilerplate-1.0/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/vendor/boilerplate-1.0/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 31, ../sass/vendor/boilerplate-1.0/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 33, ../sass/vendor/boilerplate-1.0/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 35, ../sass/vendor/boilerplate-1.0/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37, ../sass/vendor/boilerplate-1.0/_reset.scss */
input, select {
  vertical-align: middle;
}

/*
+---------------------------------------------------------------------+
|        _                               _         _                  |
|       | |_  _   _  _ __    ___  _ __  | |  __ _ | |_  ___           |
|       | __|| | | || '_ \  / _ \| '_ \ | | / _` || __|/ _ \          |
|       | |_ | |_| || |_) ||  __/| |_) || || (_| || |_|  __/          |
|        \__| \__, || .__/  \___|| .__/ |_| \__,_| \__|\___|          |
|             |___/ |_|          |_|                                  |
|                                                                     |
|                                                                     |
| URL: http://typeplate.com                                           |
| VERSION: 1.0.0                                                      |
| Github: https://github.com/typePlate/typeplate.github.com           |
| AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals) |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

/* line 261, ../sass/vendor/typeplate/_typeplate.scss */
body {
  word-wrap: break-word;
}

/* line 265, ../sass/vendor/typeplate/_typeplate.scss */
pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($float: left, $font-size: 4em, $font-family: inherit, $text-indent: 0, $margin: inherit, $padding: inherit, $color: inherit, $lineHeight: 1, $bg: transparent);
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 376, ../sass/vendor/typeplate/_typeplate.scss */
html {
  font: normal 112.5%/1.65 serif;
}

/* line 380, ../sass/vendor/typeplate/_typeplate.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444444;
}

/* line 396, ../sass/vendor/typeplate/_typeplate.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem;
}

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem;
}

/* line 429, ../sass/vendor/typeplate/_typeplate.scss */
p + p {
  text-indent: 1.5em;
}

/* line 448, ../sass/vendor/typeplate/_typeplate.scss */
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

/* line 453, ../sass/vendor/typeplate/_typeplate.scss */
pre {
  white-space: pre;
}

/* line 457, ../sass/vendor/typeplate/_typeplate.scss */
code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
/* line 474, ../sass/vendor/typeplate/_typeplate.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
/* line 476, ../sass/vendor/typeplate/_typeplate.scss */
abbr:hover {
  cursor: help;
}

/* line 490, ../sass/vendor/typeplate/_typeplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 317, ../sass/vendor/typeplate/_typeplate.scss */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
/* line 324, ../sass/vendor/typeplate/_typeplate.scss */
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
/* line 332, ../sass/vendor/typeplate/_typeplate.scss */
.lining dd + dd:before {
  content: ", ";
}
/* line 336, ../sass/vendor/typeplate/_typeplate.scss */
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 344, ../sass/vendor/typeplate/_typeplate.scss */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
/* line 348, ../sass/vendor/typeplate/_typeplate.scss */
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
/* line 354, ../sass/vendor/typeplate/_typeplate.scss */
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
/* line 357, ../sass/vendor/typeplate/_typeplate.scss */
.dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}

/**
 * Stats Tab Markup
 *
	<ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	</ul>
 *
 * Extend this object into your markup.
 *
 */
/* line 542, ../sass/vendor/typeplate/_typeplate.scss */
.stats-tabs {
  padding: 0;
}
/* line 544, ../sass/vendor/typeplate/_typeplate.scss */
.stats-tabs li {
  display: inline-block;
  margin: 0 0.625rem 0 0;
  padding: 0 0.625rem 0 0;
  border-right: 0.125rem solid #cccccc;
}
/* line 549, ../sass/vendor/typeplate/_typeplate.scss */
.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 554, ../sass/vendor/typeplate/_typeplate.scss */
.stats-tabs li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}
/* line 558, ../sass/vendor/typeplate/_typeplate.scss */
.stats-tabs li a b {
  display: block;
  margin: 0.125rem 0 0 0;
  font-size: 0.875rem;
  font-weight: normal;
}

/**
 * Blockquote Markup
 *
	<blockquote cite="">
		<p>&Prime;&Prime;</p>
		<cite>
			<small><a href=""></a></small>
		</cite>
	</blockquote>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 638, ../sass/vendor/typeplate/_typeplate.scss */
.pull-quote {
  position: relative;
  padding: 1em;
}
/* line 620, ../sass/vendor/typeplate/_typeplate.scss */
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.15;
  position: absolute;
  font-size: 4em;
}
/* line 626, ../sass/vendor/typeplate/_typeplate.scss */
.pull-quote:before {
  content: '“';
  top: 0em;
  left: 0em;
}
/* line 631, ../sass/vendor/typeplate/_typeplate.scss */
.pull-quote:after {
  content: '”';
  bottom: 0em;
  right: 0em;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* Controls frameless grid sizing */
/* branding-cool shade */
/* @include htags-sizes($base-font-size + 20); */
/*
h1 {
	margin-bottom: 20px;
}
*/
/* line 110, ../sass/base/_base.scss */
h2 {
  margin-bottom: 10px;
}

/* line 114, ../sass/base/_base.scss */
h3, h4, h5, h6 {
  margin-bottom: 10px;
}

/* line 120, ../sass/base/_base.scss */
.no-bullets {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* line 131, ../sass/base/_base.scss */
.fleft {
  float: left;
}

/* line 135, ../sass/base/_base.scss */
.fright {
  float: right;
}

/* line 62, ../sass/base/_base.scss */
.clear-fix {
  *zoom: 1;
}
/* line 66, ../sass/base/_base.scss */
.clear-fix:before, .clear-fix:after {
  content: "";
  display: table;
}
/* line 70, ../sass/base/_base.scss */
.clear-fix:after {
  clear: both;
}

/* line 143, ../sass/base/_base.scss */
.ir {
  background-color: transparent;
  border: 0;
  color: transparent;
  text-indent: -9999em;
  text-shadow: none;
  display: block;
}

/* line 152, ../sass/base/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 163, ../sass/base/_base.scss */
.simple-rounded {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
}

/* line 167, ../sass/base/_base.scss */
a:hover {
  background-color: #ba3608;
}

/* line 171, ../sass/base/_base.scss */
.one-liner {
  display: block;
}

/* line 175, ../sass/base/_base.scss */
.follow-me-link::after {
  content: "-->";
}

/* line 18, ../sass/vendor/boilerplate-2.0/_styles.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/vendor/boilerplate-2.0/_styles.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/vendor/boilerplate-2.0/_styles.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/vendor/boilerplate-2.0/_styles.scss */
[hidden] {
  display: none;
}

/* line 33, ../sass/vendor/boilerplate-2.0/_styles.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/vendor/boilerplate-2.0/_styles.scss */
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* line 37, ../sass/vendor/boilerplate-2.0/_styles.scss */
body, button, input, select, textarea {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #333333;
}

/* line 45, ../sass/vendor/boilerplate-2.0/_styles.scss */
::-moz-selection {
  background: #5c0778;
  color: white;
  text-shadow: none;
}

/* line 46, ../sass/vendor/boilerplate-2.0/_styles.scss */
::selection {
  background: #5c0778;
  color: white;
  text-shadow: none;
}

/* line 53, ../sass/vendor/boilerplate-2.0/_styles.scss */
a {
  color: #b94700;
}

/* line 54, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:visited {
  color: #c76c33;
}

/* line 55, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:hover {
  color: white;
}

/* line 56, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 59, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:hover, a:active {
  outline: 0;
}

/* line 66, ../sass/vendor/boilerplate-2.0/_styles.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, ../sass/vendor/boilerplate-2.0/_styles.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../sass/vendor/boilerplate-2.0/_styles.scss */
i, em {
  font-style: italic;
}

/* line 72, ../sass/vendor/boilerplate-2.0/_styles.scss */
blockquote {
  margin: 1em 40px;
}

/* line 74, ../sass/vendor/boilerplate-2.0/_styles.scss */
dfn {
  font-style: italic;
}

/* line 76, ../sass/vendor/boilerplate-2.0/_styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0;
}

/* line 78, ../sass/vendor/boilerplate-2.0/_styles.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 80, ../sass/vendor/boilerplate-2.0/_styles.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 83, ../sass/vendor/boilerplate-2.0/_styles.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 86, ../sass/vendor/boilerplate-2.0/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 88, ../sass/vendor/boilerplate-2.0/_styles.scss */
q {
  quotes: none;
}

/* line 89, ../sass/vendor/boilerplate-2.0/_styles.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 91, ../sass/vendor/boilerplate-2.0/_styles.scss */
small {
  font-size: 85%;
}

/* line 94, ../sass/vendor/boilerplate-2.0/_styles.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 95, ../sass/vendor/boilerplate-2.0/_styles.scss */
sup {
  top: -0.5em;
}

/* line 96, ../sass/vendor/boilerplate-2.0/_styles.scss */
sub {
  bottom: -0.25em;
}

/* line 102, ../sass/vendor/boilerplate-2.0/_styles.scss */
dl {
  margin: 1em 0;
}

/* line 103, ../sass/vendor/boilerplate-2.0/_styles.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

/* line 104, ../sass/vendor/boilerplate-2.0/_styles.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 105, ../sass/vendor/boilerplate-2.0/_styles.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 117, ../sass/vendor/boilerplate-2.0/_styles.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 123, ../sass/vendor/boilerplate-2.0/_styles.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 130, ../sass/vendor/boilerplate-2.0/_styles.scss */
figure {
  margin: 0;
}

/* line 137, ../sass/vendor/boilerplate-2.0/_styles.scss */
form {
  margin: 0;
}

/* line 138, ../sass/vendor/boilerplate-2.0/_styles.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 141, ../sass/vendor/boilerplate-2.0/_styles.scss */
label {
  cursor: pointer;
}

/* line 148, ../sass/vendor/boilerplate-2.0/_styles.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 156, ../sass/vendor/boilerplate-2.0/_styles.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 163, ../sass/vendor/boilerplate-2.0/_styles.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 169, ../sass/vendor/boilerplate-2.0/_styles.scss */
table button, table input {
  *overflow: auto;
}

/* line 176, ../sass/vendor/boilerplate-2.0/_styles.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 182, ../sass/vendor/boilerplate-2.0/_styles.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 183, ../sass/vendor/boilerplate-2.0/_styles.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 184, ../sass/vendor/boilerplate-2.0/_styles.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 190, ../sass/vendor/boilerplate-2.0/_styles.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 197, ../sass/vendor/boilerplate-2.0/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 201, ../sass/vendor/boilerplate-2.0/_styles.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 208, ../sass/vendor/boilerplate-2.0/_styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 209, ../sass/vendor/boilerplate-2.0/_styles.scss */
td {
  vertical-align: top;
}

/* @import "main/shared/headers"; */
/* @import "main/shared/footers"; */
/* @import "main/shared/contents"; */
/*
	Frameless			<http://framelessgrid.com/>
	by Joni Korpi 		<http://jonikorpi.com/>
	licensed under CC0	<http://creativecommons.org/publicdomain/zero/1.0/>
*/
/*
	An easy way to zoom your entire layout in or out (as long as it's set in ems).
	Just change the media queries to activate them.
	Assuming your base font-size is 16:
	- the first one zooms out by a factor of (16-2)/16 = 0.875
	- the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
/*
@media screen and (max-width: 1px) {
	body {
		font-size: ($font-size - 2) / $em;
	}
}

@media screen and (max-width: 1px) {
	body {
		font-size: ($font-size + 2) / $em;
	}
}
*/
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 /*
	Modified by HOPE/GLORY (Oskar)
 */
/* Browser Resets */
/* line 17, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container a:active,
.flexslider a:active {
  outline: none;
}

/* line 20, ../sass/vendor/flexslider/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 25, ../sass/vendor/flexslider/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 28, ../sass/vendor/flexslider/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 29, ../sass/vendor/flexslider/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 30, ../sass/vendor/flexslider/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 35, ../sass/vendor/flexslider/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/*
	SLIDESHOW MODULE
*/
/*
@mixin layout-center {
	width: 90%;
	max-width: 960px;
	margin: auto;
}
*/
/* line 49, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container {
  width: 100%;
  position: relative;
  zoom: 1;
}
/* line 54, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container a {
  text-decoration: none;
  border: 0;
}
/* line 56, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container .slides {
  /* 		@include box-border; */
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.flex-container .slides:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container .slides > li {
  position: relative;
  display: none;
  max-height: 352px;
  overflow-y: hidden;
}
/* line 66, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container .slides img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: -30px;
}
/* line 74, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container:hover .flex-direction-nav a {
  opacity: 100;
}

/* Caption style */
/* IE rgba() hack */
/* line 81, ../sass/vendor/flexslider/_flexslider.scss */
.flex-caption {
  width: 96%;
  padding: 2%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

/* Direction Nav */
/* line 93, ../sass/vendor/flexslider/_flexslider.scss */
.flex-direction-nav a {
  /* @extend .arrow; */
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
/* line 100, ../sass/vendor/flexslider/_flexslider.scss */
.flex-direction-nav .prev {
  /* @extend .arrow-left; */
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  left: 10px;
}
/* line 105, ../sass/vendor/flexslider/_flexslider.scss */
.flex-direction-nav .next {
  /* @extend .arrow-right; */
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  right: 10px;
}

/* Control Nav */
/* line 113, ../sass/vendor/flexslider/_flexslider.scss */
.flex-control-nav {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
/* line 117, ../sass/vendor/flexslider/_flexslider.scss */
.flex-control-nav li {
  margin: 0 0 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 118, ../sass/vendor/flexslider/_flexslider.scss */
.flex-control-nav li:first-child {
  margin: 0;
}
/* line 119, ../sass/vendor/flexslider/_flexslider.scss */
.flex-control-nav a {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../img/bg_control_nav.png) no-repeat 0 0;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: .8;
}
/* line 120, ../sass/vendor/flexslider/_flexslider.scss */
.flex-control-nav a:hover {
  opacity: 1;
}
/* line 121, ../sass/vendor/flexslider/_flexslider.scss */
.flex-control-nav a.active {
  opacity: 1;
  background-position: 0 -26px;
  cursor: default;
  border: 0;
  text-decoration: none;
}

/* line 126, ../sass/vendor/flexslider/_flexslider.scss */
.lt-ie8 .flex-direction-nav {
  display: none;
}

@font-face {
  font-family: "LatoRegular";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/lato-reg-webfont.eot");
  src: url("/assets/fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lato-reg-webfont.woff") format("woff"), url("/assets/fonts/lato-reg-webfont.ttf") format("truetype"), url("/assets/fonts/lato-reg-webfont.svg#LatoRegular") format("svg");
}

@font-face {
  font-family: "LatoItalic";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/lato-regita-webfont.eot");
  src: url("/assets/fonts/lato-regita-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lato-regita-webfont.woff") format("woff"), url("/assets/fonts/lato-regita-webfont.ttf") format("truetype"), url("/assets/fonts/lato-regita-webfont.svg#LatoItalic") format("svg");
}

@font-face {
  font-family: "LatoBlack";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/lato-bla-webfont.eot");
  src: url("/assets/fonts/lato-bla-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lato-bla-webfont.woff") format("woff"), url("/assets/fonts/lato-bla-webfont.ttf") format("truetype"), url("/assets/fonts/lato-bla-webfont.svg#LatoBlack") format("svg");
}

@font-face {
  font-family: "MissionScript";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/mission-script-webfont.eot");
  src: url("/assets/fonts/mission-script-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/mission-script-webfont.woff") format("woff"), url("/assets/fonts/mission-script-webfont.ttf") format("truetype"), url("/assets/fonts/mission-script-webfont.svg#MissionScript") format("svg");
}

/* line 24, ../sass/screen.scss */
strong {
  font-family: "LatoBlack", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;
  font-weight: normal;
}

/* line 29, ../sass/screen.scss */
body {
  font-family: "LatoRegular", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
@media screen and (max-width: 900px) {
  /* line 29, ../sass/screen.scss */
  body {
    font-size: 90%;
  }
}

/* line 36, ../sass/screen.scss */
.wrapper {
  width: 79.5em;
}
@media screen and (max-width: 1024px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 70.5em;
  }
}
@media screen and (max-width: 960px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 61.5em;
  }
}
@media screen and (max-width: 900px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 66em;
    /*font-size at 90%*/
  }
}
@media screen and (max-width: 768px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 43.5em;
  }
}
@media screen and (max-width: 600px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 34.5em;
  }
}
@media screen and (max-width: 480px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 25.5em;
  }
}
@media screen and (max-width: 320px) {
  /* line 36, ../sass/screen.scss */
  .wrapper {
    width: 16.5em;
  }
}

/* line 61, ../sass/screen.scss */
.section {
  border-top: #daaa00 3px solid;
  padding-left: 12em;
  padding-right: 12em;
}
@media screen and (max-width: 1280px) {
  /* line 61, ../sass/screen.scss */
  .section {
    padding-left: 7.5em;
    padding-right: 7.5em;
  }
}
@media screen and (max-width: 960px) {
  /* line 61, ../sass/screen.scss */
  .section {
    padding-left: 7.5em;
    padding-right: 3em;
  }
}

/* line 82, ../sass/screen.scss */
.banner .banner-text {
  font-family: "MissionScript", Brush Script, "Brush Script", Brush Script MT, "Brush Script MT", Script MT Bold, "Script MT Bold", Gabriola, "Gabriola", Comic Sans MS, "Comic Sans MS", fantasy;
  font-size: 7.50em;
  /* 120px */
}
/* line 85, ../sass/screen.scss */
.banner .banner-text span {
  margin-right: 8%;
  display: block;
}
/* line 88, ../sass/screen.scss */
.banner .banner-text span:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 1024px) {
  /* line 85, ../sass/screen.scss */
  .banner .banner-text span {
    margin-right: 4%;
  }
}
/* line 91, ../sass/screen.scss */
.banner .banner-text .bt1 {
  color: #ba3608;
  margin-top: 5%;
}
/* line 95, ../sass/screen.scss */
.banner .banner-text .bt3 {
  color: #5c0778;
  margin-top: 5%;
}
/* line 99, ../sass/screen.scss */
.banner .banner-text .bt2, .banner .banner-text .bt4 {
  font-size: 166%;
  color: #daaa00;
  margin-top: 2%;
}
/* line 104, ../sass/screen.scss */
.banner .banner-text .logo {
  height: 238px;
  width: 238px;
  background: url("http://www.peepol.tv.s3.amazonaws.com/assets/images/logo.svg") top left no-repeat;
  background-size: cover;
}

/* line 113, ../sass/screen.scss */
.about {
  background-color: #ba3608;
  padding-top: 35px;
  padding-bottom: 25px;
}
/* line 119, ../sass/screen.scss */
.about .money-shot {
  width: 16.5em;
  margin-left: 3em;
}
/* line 122, ../sass/screen.scss */
.about .money-shot img {
  width: 87%;
  height: auto;
}
/* line 127, ../sass/screen.scss */
.about .romance-copy {
  width: 30em;
  margin-right: 3em;
  /* USE SPARINGLY */
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  @-moz-document url-prefix() {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

}
@media screen and (max-width: 1024px) {
  /* line 127, ../sass/screen.scss */
  .about .romance-copy {
    width: 25.5em;
    margin-right: 3em;
  }
}
/* line 135, ../sass/screen.scss */
.about .romance-copy p {
  color: white;
  font-size: 1.625em;
}
@media screen and (max-width: 1024px) {
  /* line 135, ../sass/screen.scss */
  .about .romance-copy p {
    font-size: 1.5em;
  }
}
/* line 140, ../sass/screen.scss */
.about .romance-copy .bold-flava {
  color: white;
  font-family: "LatoBlack", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;
  font-size: 3.5em;
  margin-top: .325em;
}
@media screen and (max-width: 1024px) {
  /* line 140, ../sass/screen.scss */
  .about .romance-copy .bold-flava {
    font-size: 2.5em;
  }
}
/* line 147, ../sass/screen.scss */
.about .romance-copy .elegant-flava {
  color: white;
  font-family: "MissionScript", Brush Script, "Brush Script", Brush Script MT, "Brush Script MT", Script MT Bold, "Script MT Bold", Gabriola, "Gabriola", Comic Sans MS, "Comic Sans MS", fantasy;
  font-size: 3.5em;
  margin-top: .125em;
}
@media screen and (max-width: 1024px) {
  /* line 147, ../sass/screen.scss */
  .about .romance-copy .elegant-flava {
    font-size: 2.5em;
  }
}

/* line 158, ../sass/screen.scss */
.news .body-copy {
  margin: 0 3em;
}
/* line 160, ../sass/screen.scss */
.news .body-copy img {
  width: 12em;
  height: auto;
  margin-right: 24px;
}
/* line 165, ../sass/screen.scss */
.news .body-copy p {
  width: 34.5em;
  margin: 3% 0;
}
@media screen and (max-width: 960px) {
  /* line 165, ../sass/screen.scss */
  .news .body-copy p {
    width: 25.5em;
  }
}

/* line 173, ../sass/screen.scss */
.mailing-list {
  color: #5c0778;
  background-color: #c76c33;
  padding-top: 15px;
  padding-bottom: 19px;
}
/* line 180, ../sass/screen.scss */
.mailing-list .one-liner {
  margin-left: 3em;
  margin-bottom: 1em;
}
/* line 186, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form {
  margin-left: 3em;
}
/* line 188, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input {
  border: 2px solid #5c0778;
}
/* line 189, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input[type="email"] {
  color: #5c0778;
  width: 258px;
  height: 24px;
  background: rgba(255, 255, 255, 0.3) url("http://www.peepol.tv.s3-website-us-east-1.amazonaws.com/assets/images/mail-icon.png") 96% 50% no-repeat;
  margin-right: 18px;
  padding: 6px 8px;
}
/* line 93, ../sass/base/_base.scss */
.mailing-list .mc-embedded-subscribe-form input[type="email"].placeholder {
  color: #5c0778;
  font-family: "LatoItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif;
}
/* line 94, ../sass/base/_base.scss */
.mailing-list .mc-embedded-subscribe-form input[type="email"]:-moz-placeholder {
  color: #5c0778;
  font-family: "LatoItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif;
}
/* line 95, ../sass/base/_base.scss */
.mailing-list .mc-embedded-subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #5c0778;
  font-family: "LatoItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif;
}
/* line 200, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input[type="email"]:hover {
  background-color: rgba(92, 7, 120, 0.3);
}
/* line 201, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input[type="email"]:focus {
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: 0px 0px 4px 0px #5c0778;
  box-shadow: 0px 0px 4px 0px #5c0778;
}
/* line 207, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input[type="submit"] {
  color: transparent;
  width: 146px;
  height: 40px;
  background: #8031a7 url("http://www.peepol.tv.s3-website-us-east-1.amazonaws.com/assets/images/signup-button.svg") 50% 50% no-repeat;
}
/* line 212, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input[type="submit"]:hover {
  background-color: #5c0778;
}
/* line 213, ../sass/screen.scss */
.mailing-list .mc-embedded-subscribe-form input[type="submit"]:active {
  background-color: #995ab9;
}

/* line 218, ../sass/screen.scss */
.info {
  padding-top: 15px;
  background-color: #b94700;
}
/* line 221, ../sass/screen.scss */
.info .social-media {
  padding-bottom: 1%;
  margin: 0 3em;
}
/* line 224, ../sass/screen.scss */
.info .social-media li {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background-image: url("http://www.peepol.tv.s3-website-us-east-1.amazonaws.com/assets/images/smedia-sprites.svg");
  background-repeat: no-repeat;
}
/* line 230, ../sass/screen.scss */
.info .social-media li a:hover {
  background-color: transparent;
}
/* line 231, ../sass/screen.scss */
.info .social-media li.smedia1 {
  background-position: -2px -2px;
}
/* line 233, ../sass/screen.scss */
.info .social-media li.smedia1:hover {
  background-position: -2px -28px;
}
/* line 235, ../sass/screen.scss */
.info .social-media li.smedia2 {
  background-position: -28px -2px;
}
/* line 237, ../sass/screen.scss */
.info .social-media li.smedia2:hover {
  background-position: -28px -28px;
}
/* line 239, ../sass/screen.scss */
.info .social-media li.smedia3 {
  background-position: -54px -2px;
}
/* line 241, ../sass/screen.scss */
.info .social-media li.smedia3:hover {
  background-position: -54px -28px;
}
/* line 243, ../sass/screen.scss */
.info .social-media li.smedia4 {
  background-position: -80px -2px;
}
/* line 245, ../sass/screen.scss */
.info .social-media li.smedia4:hover {
  background-position: -80px -28px;
}
/* line 247, ../sass/screen.scss */
.info .social-media li.smedia5 {
  background-position: -106px -2px;
}
/* line 249, ../sass/screen.scss */
.info .social-media li.smedia5:hover {
  background-position: -106px -28px;
}
/* line 251, ../sass/screen.scss */
.info .social-media li.smedia6 {
  background-position: -132px -2px;
}
/* line 253, ../sass/screen.scss */
.info .social-media li.smedia6:hover {
  background-position: -132px -28px;
}
/* line 255, ../sass/screen.scss */
.info .social-media li.smedia7 {
  background-position: -158px -2px;
}
/* line 257, ../sass/screen.scss */
.info .social-media li.smedia7:hover {
  background-position: -158px -28px;
}
/* line 261, ../sass/screen.scss */
.info .footer-copy {
  font-size: 0.875em;
  color: #e1e1e1;
  padding-bottom: 3%;
  margin: 0 3em;
  /* USE SPARINGLY */
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  @-moz-document url-prefix() {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

}
/* line 267, ../sass/screen.scss */
.info .footer-copy a:link, .info .footer-copy a:visited {
  color: #e1e1e1;
}
