/*
  This is a compiled file.
*/
/* line 12, ../sass/vendor/boilerplate-1.0/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 22, ../sass/vendor/boilerplate-1.0/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, ../sass/vendor/boilerplate-1.0/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, ../sass/vendor/boilerplate-1.0/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 31, ../sass/vendor/boilerplate-1.0/_reset.scss */
del {
  text-decoration: line-through; }

/* line 33, ../sass/vendor/boilerplate-1.0/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 35, ../sass/vendor/boilerplate-1.0/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 37, ../sass/vendor/boilerplate-1.0/_reset.scss */
input, select {
  vertical-align: middle; }

/*
+---------------------------------------------------------------------+
|        _                               _         _                  |
|       | |_  _   _  _ __    ___  _ __  | |  __ _ | |_  ___           |
|       | __|| | | || '_ \  / _ \| '_ \ | | / _` || __|/ _ \          |
|       | |_ | |_| || |_) ||  __/| |_) || || (_| || |_|  __/          |
|        \__| \__, || .__/  \___|| .__/ |_| \__,_| \__|\___|          |
|             |___/ |_|          |_|                                  |
|                                                                     |
|                                                                     |
| URL: http://typeplate.com                                           |
| VERSION: 1.0.0                                                      |
| Github: https://github.com/typePlate/typeplate.github.com           |
| AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals) |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

/* line 261, ../sass/vendor/typeplate/_typeplate.scss */
body {
  word-wrap: break-word; }

/* line 265, ../sass/vendor/typeplate/_typeplate.scss */
pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($float: left, $font-size: 4em, $font-family: inherit, $text-indent: 0, $margin: inherit, $padding: inherit, $color: inherit, $lineHeight: 1, $bg: transparent);
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 376, ../sass/vendor/typeplate/_typeplate.scss */
html {
  font: normal 112.5%/1.65 serif; }

/* line 380, ../sass/vendor/typeplate/_typeplate.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444444; }

/* line 396, ../sass/vendor/typeplate/_typeplate.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem; }

/* line 411, ../sass/vendor/typeplate/_typeplate.scss */
.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem; }

/* line 429, ../sass/vendor/typeplate/_typeplate.scss */
p + p {
  text-indent: 1.5em; }

/* line 448, ../sass/vendor/typeplate/_typeplate.scss */
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

/* line 453, ../sass/vendor/typeplate/_typeplate.scss */
pre {
  white-space: pre; }

/* line 457, ../sass/vendor/typeplate/_typeplate.scss */
code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
/* line 474, ../sass/vendor/typeplate/_typeplate.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  /* line 476, ../sass/vendor/typeplate/_typeplate.scss */
  abbr:hover {
    cursor: help; }

/* line 490, ../sass/vendor/typeplate/_typeplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 317, ../sass/vendor/typeplate/_typeplate.scss */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
/* line 324, ../sass/vendor/typeplate/_typeplate.scss */
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
/* line 332, ../sass/vendor/typeplate/_typeplate.scss */
.lining dd + dd:before {
  content: ", "; }
/* line 336, ../sass/vendor/typeplate/_typeplate.scss */
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 344, ../sass/vendor/typeplate/_typeplate.scss */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  /* line 348, ../sass/vendor/typeplate/_typeplate.scss */
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
/* line 354, ../sass/vendor/typeplate/_typeplate.scss */
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  /* line 357, ../sass/vendor/typeplate/_typeplate.scss */
  .dictionary-style dd:before {
    content: counter(definitions, decimal) ". "; }

/**
 * Stats Tab Markup
 *
	<ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	</ul>
 *
 * Extend this object into your markup.
 *
 */
/* line 542, ../sass/vendor/typeplate/_typeplate.scss */
.stats-tabs {
  padding: 0; }
  /* line 544, ../sass/vendor/typeplate/_typeplate.scss */
  .stats-tabs li {
    display: inline-block;
    margin: 0 0.625rem 0 0;
    padding: 0 0.625rem 0 0;
    border-right: 0.125rem solid #cccccc; }
    /* line 549, ../sass/vendor/typeplate/_typeplate.scss */
    .stats-tabs li:last-child {
      margin: 0;
      padding: 0;
      border: none; }
    /* line 554, ../sass/vendor/typeplate/_typeplate.scss */
    .stats-tabs li a {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: bold; }
      /* line 558, ../sass/vendor/typeplate/_typeplate.scss */
      .stats-tabs li a b {
        display: block;
        margin: 0.125rem 0 0 0;
        font-size: 0.875rem;
        font-weight: normal; }

/**
 * Blockquote Markup
 *
	<blockquote cite="">
		<p>&Prime;&Prime;</p>
		<cite>
			<small><a href=""></a></small>
		</cite>
	</blockquote>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 638, ../sass/vendor/typeplate/_typeplate.scss */
.pull-quote {
  position: relative;
  padding: 1em; }
  /* line 620, ../sass/vendor/typeplate/_typeplate.scss */
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.15;
    position: absolute;
    font-size: 4em; }
  /* line 626, ../sass/vendor/typeplate/_typeplate.scss */
  .pull-quote:before {
    content: '“';
    top: 0em;
    left: 0em; }
  /* line 631, ../sass/vendor/typeplate/_typeplate.scss */
  .pull-quote:after {
    content: '”';
    bottom: 0em;
    right: 0em; }

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* Controls frameless grid sizing */
/* branding-cool shade */
/* @include htags-sizes($base-font-size + 20); */
/*
h1 {
	margin-bottom: 20px;
}
*/
/* line 110, ../sass/base/_base.scss */
h2 {
  margin-bottom: 10px; }

/* line 114, ../sass/base/_base.scss */
h3, h4, h5, h6 {
  margin-bottom: 10px; }

/* line 120, ../sass/base/_base.scss */
.no-bullets {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* line 131, ../sass/base/_base.scss */
.fleft {
  float: left; }

/* line 135, ../sass/base/_base.scss */
.fright {
  float: right; }

/* line 62, ../sass/base/_base.scss */
.clear-fix {
  *zoom: 1; }
/* line 66, ../sass/base/_base.scss */
.clear-fix:before, .clear-fix:after {
  content: "";
  display: table; }
/* line 70, ../sass/base/_base.scss */
.clear-fix:after {
  clear: both; }

/* line 143, ../sass/base/_base.scss */
.ir {
  background-color: transparent;
  border: 0;
  color: transparent;
  text-indent: -9999em;
  text-shadow: none;
  display: block; }

/* line 152, ../sass/base/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 163, ../sass/base/_base.scss */
.simple-rounded {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px; }

/* line 167, ../sass/base/_base.scss */
a:hover {
  background-color: #ba3608; }

/* line 171, ../sass/base/_base.scss */
.one-liner {
  display: block; }

/* line 175, ../sass/base/_base.scss */
.follow-me-link::after {
  content: "-->"; }

@media screen and (max-width: 600px) {
  /* line 179, ../sass/base/_base.scss */
  .small-screen {
    display: block; } }

/* line 18, ../sass/vendor/boilerplate-2.0/_styles.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 19, ../sass/vendor/boilerplate-2.0/_styles.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 20, ../sass/vendor/boilerplate-2.0/_styles.scss */
audio:not([controls]) {
  display: none; }

/* line 21, ../sass/vendor/boilerplate-2.0/_styles.scss */
[hidden] {
  display: none; }

/* line 33, ../sass/vendor/boilerplate-2.0/_styles.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 35, ../sass/vendor/boilerplate-2.0/_styles.scss */
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5; }

/* line 37, ../sass/vendor/boilerplate-2.0/_styles.scss */
body, button, input, select, textarea {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #333333; }

/* line 45, ../sass/vendor/boilerplate-2.0/_styles.scss */
::-moz-selection {
  background: #5c0778;
  color: white;
  text-shadow: none; }

/* line 46, ../sass/vendor/boilerplate-2.0/_styles.scss */
::selection {
  background: #5c0778;
  color: white;
  text-shadow: none; }

/* line 53, ../sass/vendor/boilerplate-2.0/_styles.scss */
a {
  color: #b94700; }

/* line 54, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:visited {
  color: #c76c33; }

/* line 55, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:hover {
  color: white; }

/* line 56, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 59, ../sass/vendor/boilerplate-2.0/_styles.scss */
a:hover, a:active {
  outline: 0; }

/* line 66, ../sass/vendor/boilerplate-2.0/_styles.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 68, ../sass/vendor/boilerplate-2.0/_styles.scss */
b, strong {
  font-weight: bold; }

/* line 70, ../sass/vendor/boilerplate-2.0/_styles.scss */
i, em {
  font-style: italic; }

/* line 72, ../sass/vendor/boilerplate-2.0/_styles.scss */
blockquote {
  margin: 1em 40px; }

/* line 74, ../sass/vendor/boilerplate-2.0/_styles.scss */
dfn {
  font-style: italic; }

/* line 76, ../sass/vendor/boilerplate-2.0/_styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0; }

/* line 78, ../sass/vendor/boilerplate-2.0/_styles.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

/* line 80, ../sass/vendor/boilerplate-2.0/_styles.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 83, ../sass/vendor/boilerplate-2.0/_styles.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 86, ../sass/vendor/boilerplate-2.0/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 88, ../sass/vendor/boilerplate-2.0/_styles.scss */
q {
  quotes: none; }

/* line 89, ../sass/vendor/boilerplate-2.0/_styles.scss */
q:before, q:after {
  content: "";
  content: none; }

/* line 91, ../sass/vendor/boilerplate-2.0/_styles.scss */
small {
  font-size: 85%; }

/* line 94, ../sass/vendor/boilerplate-2.0/_styles.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 95, ../sass/vendor/boilerplate-2.0/_styles.scss */
sup {
  top: -0.5em; }

/* line 96, ../sass/vendor/boilerplate-2.0/_styles.scss */
sub {
  bottom: -0.25em; }

/* line 102, ../sass/vendor/boilerplate-2.0/_styles.scss */
dl {
  margin: 1em 0; }

/* line 103, ../sass/vendor/boilerplate-2.0/_styles.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em; }

/* line 104, ../sass/vendor/boilerplate-2.0/_styles.scss */
dd {
  margin: 0 0 0 40px; }

/* line 105, ../sass/vendor/boilerplate-2.0/_styles.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* line 117, ../sass/vendor/boilerplate-2.0/_styles.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 123, ../sass/vendor/boilerplate-2.0/_styles.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 130, ../sass/vendor/boilerplate-2.0/_styles.scss */
figure {
  margin: 0; }

/* line 137, ../sass/vendor/boilerplate-2.0/_styles.scss */
form {
  margin: 0; }

/* line 138, ../sass/vendor/boilerplate-2.0/_styles.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 141, ../sass/vendor/boilerplate-2.0/_styles.scss */
label {
  cursor: pointer; }

/* line 148, ../sass/vendor/boilerplate-2.0/_styles.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* line 156, ../sass/vendor/boilerplate-2.0/_styles.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 163, ../sass/vendor/boilerplate-2.0/_styles.scss */
button, input {
  line-height: normal;
  *overflow: visible; }

/* line 169, ../sass/vendor/boilerplate-2.0/_styles.scss */
table button, table input {
  *overflow: auto; }

/* line 176, ../sass/vendor/boilerplate-2.0/_styles.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 182, ../sass/vendor/boilerplate-2.0/_styles.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

/* line 183, ../sass/vendor/boilerplate-2.0/_styles.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 184, ../sass/vendor/boilerplate-2.0/_styles.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 190, ../sass/vendor/boilerplate-2.0/_styles.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 197, ../sass/vendor/boilerplate-2.0/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* line 201, ../sass/vendor/boilerplate-2.0/_styles.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* line 208, ../sass/vendor/boilerplate-2.0/_styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 209, ../sass/vendor/boilerplate-2.0/_styles.scss */
td {
  vertical-align: top; }

/* @import "main/shared/headers"; */
/* @import "main/shared/footers"; */
/* @import "main/shared/contents"; */
/*
	Frameless			<http://framelessgrid.com/>
	by Joni Korpi 		<http://jonikorpi.com/>
	licensed under CC0	<http://creativecommons.org/publicdomain/zero/1.0/>
*/
/*
	An easy way to zoom your entire layout in or out (as long as it's set in ems).
	Just change the media queries to activate them.
	Assuming your base font-size is 16:
	- the first one zooms out by a factor of (16-2)/16 = 0.875
	- the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
/*
@media screen and (max-width: 1px) {
	body {
		font-size: ($font-size - 2) / $em;
	}
}

@media screen and (max-width: 1px) {
	body {
		font-size: ($font-size + 2) / $em;
	}
}
*/
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 /*
	Modified by HOPE/GLORY (Oskar)
 */
/* additional changes by Chris, removed code of flex parts that are unused */
/* Browser Resets */
/* line 19, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container a:active,
.flexslider a:active {
  outline: none; }

/* line 20, ../sass/vendor/flexslider/_flexslider.scss */
.slides {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
/* Clearfix for the .slides element */
/* line 26, ../sass/vendor/flexslider/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 27, ../sass/vendor/flexslider/_flexslider.scss */
html[xmlns] .slides {
  display: block; }

/* line 28, ../sass/vendor/flexslider/_flexslider.scss */
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 33, ../sass/vendor/flexslider/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block; }

/*
	SLIDESHOW MODULE
*/
/* line 39, ../sass/vendor/flexslider/_flexslider.scss */
.flex-container {
  max-width: 100%;
  position: relative;
  zoom: 1; }
  /* line 44, ../sass/vendor/flexslider/_flexslider.scss */
  .flex-container a {
    text-decoration: none;
    border: 0; }
  /* line 46, ../sass/vendor/flexslider/_flexslider.scss */
  .flex-container .slides {
    *zoom: 1; }
    /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .flex-container .slides:after {
      content: "";
      display: table;
      clear: both; }
    /* line 49, ../sass/vendor/flexslider/_flexslider.scss */
    .flex-container .slides > li {
      position: relative;
      display: none;
      max-height: 352px;
      min-height: 130px;
      overflow-y: hidden; }
    /* line 56, ../sass/vendor/flexslider/_flexslider.scss */
    .flex-container .slides img {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: -30px; }
      @media screen and (max-width: 390px) {
        /* line 56, ../sass/vendor/flexslider/_flexslider.scss */
        .flex-container .slides img {
          margin-top: 0; } }
  /* line 65, ../sass/vendor/flexslider/_flexslider.scss */
  .flex-container:hover .flex-direction-nav a {
    opacity: 100; }

@font-face {
  font-family: "LatoRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato-reg-webfont.eot");
  src: url("../fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-reg-webfont.woff") format("woff"), url("../fonts/lato-reg-webfont.ttf") format("truetype"), url("../fonts/lato-reg-webfont.svg#LatoRegular") format("svg"); }

@font-face {
  font-family: "LatoItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato-regita-webfont.eot");
  src: url("../fonts/lato-regita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regita-webfont.woff") format("woff"), url("../fonts/lato-regita-webfont.ttf") format("truetype"), url("../fonts/lato-regita-webfont.svg#LatoItalic") format("svg"); }

@font-face {
  font-family: "LatoBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato-bla-webfont.eot");
  src: url("../fonts/lato-bla-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bla-webfont.woff") format("woff"), url("../fonts/lato-bla-webfont.ttf") format("truetype"), url("../fonts/lato-bla-webfont.svg#LatoBlack") format("svg"); }

@font-face {
  font-family: "MissionScript";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/mission-script-webfont.eot");
  src: url("../fonts/mission-script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mission-script-webfont.woff") format("woff"), url("../fonts/mission-script-webfont.ttf") format("truetype"), url("../fonts/mission-script-webfont.svg#MissionScript") format("svg"); }

/* line 24, ../sass/screen.scss */
strong {
  font-family: "LatoBlack", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;
  font-weight: normal; }

/* line 29, ../sass/screen.scss */
body {
  margin: 0 auto;
  font-family: "LatoRegular", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  overflow-x: hidden;
  /*this hides scrollbar*/ }
  @media screen and (max-width: 800px) {
    /* line 29, ../sass/screen.scss */
    body {
      font-size: 90%; } }

/* line 38, ../sass/screen.scss */
.wrapper {
  max-width: 79.5em; }
  @media screen and (max-width: 1280px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 79.5em; } }
  @media screen and (max-width: 1152px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 70.5em; } }
  @media screen and (max-width: 1024px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 66em; } }
  @media screen and (max-width: 960px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 61.5em; } }
  @media screen and (max-width: 800px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 61.5em;
      /*body font-size 90%*/ } }
  @media screen and (max-width: 768px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 57em;
      /*body font-size 90%*/ } }
  @media screen and (max-width: 600px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 43.5em;
      /*body font-size 90%*/ } }
  @media screen and (max-width: 480px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 34.5em;
      /*body font-size 90%*/ } }
  @media screen and (max-width: 390px) {
    /* line 38, ../sass/screen.scss */
    .wrapper {
      width: 25.5em;
      /*body font-size 90%*/ } }

/* line 69, ../sass/screen.scss */
.section {
  max-width: 100%;
  border-top: #daaa00 3px solid;
  padding-left: 15%;
  /*$cols3*/
  padding-right: 15%; }
  @media screen and (max-width: 800px) {
    /* line 69, ../sass/screen.scss */
    .section {
      padding-left: 5%;
      padding-right: 5%; } }

/* line 84, ../sass/screen.scss */
.banner-text {
  font-family: "MissionScript", Brush Script, "Brush Script", Brush Script MT, "Brush Script MT", Script MT Bold, "Script MT Bold", Gabriola, "Gabriola", Comic Sans MS, "Comic Sans MS", fantasy;
  font-size: 7.50em;
  /* 120px */ }
  @media screen and (max-width: 800px) {
    /* line 84, ../sass/screen.scss */
    .banner-text {
      margin-left: 8%; } }
  @media screen and (max-width: 600px) {
    /* line 84, ../sass/screen.scss */
    .banner-text {
      font-size: 6.50em;
      margin-left: 2%; } }
  @media screen and (max-width: 480px) {
    /* line 84, ../sass/screen.scss */
    .banner-text {
      font-size: 4.50em;
      margin-left: 7%; } }
  @media screen and (max-width: 390px) {
    /* line 84, ../sass/screen.scss */
    .banner-text {
      font-size: 3.50em;
      margin-left: 5%;
      margin-bottom: -.5rem; } }
  /* line 95, ../sass/screen.scss */
  .banner-text span {
    margin-right: 8%;
    display: block; }
    @media screen and (max-width: 1152px) {
      /* line 95, ../sass/screen.scss */
      .banner-text span {
        margin-right: 5%; } }
    @media screen and (max-width: 1024px) {
      /* line 95, ../sass/screen.scss */
      .banner-text span {
        margin-right: 4%; } }
    @media screen and (max-width: 960px) {
      /* line 95, ../sass/screen.scss */
      .banner-text span {
        margin-right: 3%; } }
    @media screen and (max-width: 390px) {
      /* line 95, ../sass/screen.scss */
      .banner-text span {
        margin-right: 1%; } }
    /* line 102, ../sass/screen.scss */
    .banner-text span:last-of-type {
      margin-right: 0; }
  /* line 104, ../sass/screen.scss */
  .banner-text .bt1 {
    color: #ba3608;
    margin-top: 5%; }
  /* line 108, ../sass/screen.scss */
  .banner-text .bt3 {
    color: #5c0778;
    margin-top: 5%; }
  /* line 112, ../sass/screen.scss */
  .banner-text .bt2, .banner-text .bt4 {
    font-size: 166%;
    color: #daaa00;
    margin-top: 2%; }
  /* line 117, ../sass/screen.scss */
  .banner-text .logo {
    height: 238px;
    width: 238px;
    background: url("../images/logo.svg") top left no-repeat;
    background-size: cover; }
    @media screen and (max-width: 800px) {
      /* line 117, ../sass/screen.scss */
      .banner-text .logo {
        height: 190px;
        width: 190px; } }
    @media screen and (max-width: 480px) {
      /* line 117, ../sass/screen.scss */
      .banner-text .logo {
        height: 120px;
        width: 120px; } }
    @media screen and (max-width: 390px) {
      /* line 117, ../sass/screen.scss */
      .banner-text .logo {
        height: 80px;
        width: 80px; } }

/* line 128, ../sass/screen.scss */
.about {
  background-color: #ba3608;
  padding-top: 3%;
  padding-bottom: 2%; }
  /* line 134, ../sass/screen.scss */
  .about .money-shot {
    width: 34%;
    /*$cols4*/
    margin-left: 5%; }
    @media screen and (max-width: 800px) {
      /* line 134, ../sass/screen.scss */
      .about .money-shot {
        width: 25%; } }
    @media screen and (max-width: 480px) {
      /* line 134, ../sass/screen.scss */
      .about .money-shot {
        display: none; } }
    /* line 139, ../sass/screen.scss */
    .about .money-shot img {
      width: 87%;
      height: auto; }
  /* line 144, ../sass/screen.scss */
  .about .romance-copy {
    width: 54%;
    /*$cols7*/
    margin-right: 5%;
    /* USE SPARINGLY */
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    @-moz-document url-prefix() {
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
 }
    @media screen and (max-width: 1024px) {
      /* line 144, ../sass/screen.scss */
      .about .romance-copy {
        font-size: 90%;
        line-height: 1.45; } }
    @media screen and (max-width: 960px) {
      /* line 144, ../sass/screen.scss */
      .about .romance-copy {
        font-size: 80%;
        line-height: 1.4; } }
    @media screen and (max-width: 800px) {
      /* line 144, ../sass/screen.scss */
      .about .romance-copy {
        width: 55%; } }
    @media screen and (max-width: 600px) {
      /* line 144, ../sass/screen.scss */
      .about .romance-copy {
        font-size: 70%;
        line-height: 1.3; } }
    @media screen and (max-width: 480px) {
      /* line 144, ../sass/screen.scss */
      .about .romance-copy {
        margin-left: 5%;
        width: 75%; } }
    /* line 153, ../sass/screen.scss */
    .about .romance-copy p {
      color: white;
      font-size: 1.625em; }
    /* line 157, ../sass/screen.scss */
    .about .romance-copy .bold-flava {
      color: white;
      font-family: "LatoBlack", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;
      font-size: 3.5em;
      margin-top: .325em; }
      @media screen and (max-width: 600px) {
        /* line 157, ../sass/screen.scss */
        .about .romance-copy .bold-flava {
          font-size: 3em; } }
    /* line 164, ../sass/screen.scss */
    .about .romance-copy .elegant-flava {
      color: white;
      font-family: "MissionScript", Brush Script, "Brush Script", Brush Script MT, "Brush Script MT", Script MT Bold, "Script MT Bold", Gabriola, "Gabriola", Comic Sans MS, "Comic Sans MS", fantasy;
      font-size: 3.5em;
      margin-top: .125em; }
      @media screen and (max-width: 600px) {
        /* line 164, ../sass/screen.scss */
        .about .romance-copy .elegant-flava {
          font-size: 3em; } }

/* line 175, ../sass/screen.scss */
.body-copy {
  margin: 0 5%; }
  @media screen and (max-width: 480px) {
    /* line 175, ../sass/screen.scss */
    .body-copy {
      padding-top: 2.25%;
      padding-bottom: 3.5%; } }
  /* line 183, ../sass/screen.scss */
  .body-copy img {
    width: 24%;
    /*$cols3*/
    height: auto;
    margin-right: 3%;
    /*$gutter*/ }
    @media screen and (max-width: 600px) {
      /* line 183, ../sass/screen.scss */
      .body-copy img {
        margin-top: 5%; } }
    @media screen and (max-width: 480px) {
      /* line 183, ../sass/screen.scss */
      .body-copy img {
        display: none; } }
  /* line 190, ../sass/screen.scss */
  .body-copy p {
    width: 73%;
    /*$cols8*/
    margin: 3% 0; }
    @media screen and (max-width: 960px) {
      /* line 190, ../sass/screen.scss */
      .body-copy p {
        font-size: 90%;
        line-height: 1.45; } }
    @media screen and (max-width: 800px) {
      /* line 190, ../sass/screen.scss */
      .body-copy p {
        width: 60%; } }
    @media screen and (max-width: 480px) {
      /* line 190, ../sass/screen.scss */
      .body-copy p {
        width: 90%; } }
    @media screen and (max-width: 390px) {
      /* line 190, ../sass/screen.scss */
      .body-copy p {
        width: 75%;
        font-size: 1em; } }

/* line 201, ../sass/screen.scss */
.mailing-list {
  color: #5c0778;
  background-color: #c76c33;
  padding-top: 1.25%;
  padding-bottom: 1.5%; }
  @media screen and (max-width: 480px) {
    /* line 201, ../sass/screen.scss */
    .mailing-list {
      padding-top: 2.25%;
      padding-bottom: 3.5%; } }
  /* line 214, ../sass/screen.scss */
  .mailing-list .one-liner {
    margin-left: 5%;
    margin-bottom: 2%; }
    @media screen and (max-width: 390px) {
      /* line 214, ../sass/screen.scss */
      .mailing-list .one-liner {
        width: 75%;
        font-size: 1em;
        margin-bottom: 3%;
        line-height: 1.3; } }
  /* line 226, ../sass/screen.scss */
  .mailing-list .mc-embedded-subscribe-form {
    margin-left: 5%; }
    /* line 228, ../sass/screen.scss */
    .mailing-list .mc-embedded-subscribe-form input {
      border: 2px solid #5c0778; }
    /* line 229, ../sass/screen.scss */
    .mailing-list .mc-embedded-subscribe-form input[type="email"] {
      color: #5c0778;
      width: 258px;
      height: 24px;
      background: rgba(255, 255, 255, 0.3) url("../images/mail-icon.png") 96% 50% no-repeat;
      margin-right: 18px;
      padding: 6px 8px; }
      /* line 93, ../sass/base/_base.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="email"].placeholder {
        color: #5c0778;
        font-family: "LatoItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif; }
      /* line 94, ../sass/base/_base.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="email"]:-moz-placeholder {
        color: #5c0778;
        font-family: "LatoItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif; }
      /* line 95, ../sass/base/_base.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="email"]::-webkit-input-placeholder {
        color: #5c0778;
        font-family: "LatoItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif; }
      @media screen and (max-width: 600px) {
        /* line 229, ../sass/screen.scss */
        .mailing-list .mc-embedded-subscribe-form input[type="email"] {
          width: 221px;
          height: 15px;
          background-position: 96% 49%;
          background-size: 8%; } }
      @media screen and (max-width: 390px) {
        /* line 229, ../sass/screen.scss */
        .mailing-list .mc-embedded-subscribe-form input[type="email"] {
          margin-bottom: 3%; } }
      /* line 247, ../sass/screen.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="email"]:hover {
        background-color: rgba(92, 7, 120, 0.3); }
      /* line 248, ../sass/screen.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="email"]:focus {
        background-color: transparent;
        outline: none;
        -webkit-box-shadow: 0px 0px 4px 0px #5c0778;
        box-shadow: 0px 0px 4px 0px #5c0778; }
    /* line 254, ../sass/screen.scss */
    .mailing-list .mc-embedded-subscribe-form input[type="submit"] {
      color: transparent;
      width: 146px;
      height: 40px;
      background: #8031a7 url("../images/signup-button.svg") 50% 50% no-repeat; }
      @media screen and (max-width: 600px) {
        /* line 254, ../sass/screen.scss */
        .mailing-list .mc-embedded-subscribe-form input[type="submit"] {
          width: 120px;
          height: 31px;
          background-size: 50%; } }
      /* line 264, ../sass/screen.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="submit"]:hover {
        background-color: #5c0778; }
      /* line 265, ../sass/screen.scss */
      .mailing-list .mc-embedded-subscribe-form input[type="submit"]:active {
        background-color: #995ab9; }

/* line 271, ../sass/screen.scss */
.info {
  padding-top: 15px;
  background-color: #b94700; }
  /* line 274, ../sass/screen.scss */
  .info .social-media {
    padding-bottom: 1%;
    margin: 0 5%; }
    @media screen and (max-width: 600px) {
      /* line 274, ../sass/screen.scss */
      .info .social-media {
        margin-bottom: 2%; } }
    /* line 278, ../sass/screen.scss */
    .info .social-media li {
      width: 24px;
      height: 24px;
      margin-right: 6px;
      background-image: url("../images/smedia-sprites.svg");
      background-repeat: no-repeat; }
      @media screen and (max-width: 390px) {
        /* line 278, ../sass/screen.scss */
        .info .social-media li {
          margin-right: 10px; } }
      /* line 285, ../sass/screen.scss */
      .info .social-media li a:hover {
        background-color: transparent; }
      /* line 286, ../sass/screen.scss */
      .info .social-media li.smedia1 {
        background-position: -2px -2px; }
        /* line 288, ../sass/screen.scss */
        .info .social-media li.smedia1:hover {
          background-position: -2px -28px; }
      /* line 290, ../sass/screen.scss */
      .info .social-media li.smedia2 {
        background-position: -28px -2px; }
        /* line 292, ../sass/screen.scss */
        .info .social-media li.smedia2:hover {
          background-position: -28px -28px; }
      /* line 294, ../sass/screen.scss */
      .info .social-media li.smedia3 {
        background-position: -54px -2px; }
        /* line 296, ../sass/screen.scss */
        .info .social-media li.smedia3:hover {
          background-position: -54px -28px; }
      /* line 298, ../sass/screen.scss */
      .info .social-media li.smedia4 {
        background-position: -80px -2px; }
        /* line 300, ../sass/screen.scss */
        .info .social-media li.smedia4:hover {
          background-position: -80px -28px; }
      /* line 302, ../sass/screen.scss */
      .info .social-media li.smedia5 {
        background-position: -106px -2px; }
        /* line 304, ../sass/screen.scss */
        .info .social-media li.smedia5:hover {
          background-position: -106px -28px; }
      /* line 306, ../sass/screen.scss */
      .info .social-media li.smedia6 {
        background-position: -132px -2px; }
        /* line 308, ../sass/screen.scss */
        .info .social-media li.smedia6:hover {
          background-position: -132px -28px; }
      /* line 310, ../sass/screen.scss */
      .info .social-media li.smedia7 {
        background-position: -158px -2px; }
        /* line 312, ../sass/screen.scss */
        .info .social-media li.smedia7:hover {
          background-position: -158px -28px; }
  /* line 316, ../sass/screen.scss */
  .info .footer-copy {
    font-size: 0.875em;
    color: #e1e1e1;
    padding-bottom: 3%;
    margin: 0 5%;
    /* USE SPARINGLY */
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    @-moz-document url-prefix() {
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
 }
    @media screen and (max-width: 1024px) {
      /* line 316, ../sass/screen.scss */
      .info .footer-copy {
        margin: 0 0 0 5%; } }
    @media screen and (max-width: 960px) {
      /* line 316, ../sass/screen.scss */
      .info .footer-copy {
        font-size: 84%; } }
    @media screen and (max-width: 600px) {
      /* line 316, ../sass/screen.scss */
      .info .footer-copy {
        width: 70%; } }
    /* line 325, ../sass/screen.scss */
    .info .footer-copy a:link, .info .footer-copy a:visited {
      color: #e1e1e1; }
    @media screen and (max-width: 600px) {
      /* line 326, ../sass/screen.scss */
      .info .footer-copy .one-liner {
        margin-bottom: 2%; } }
    @media screen and (max-width: 480px) {
      /* line 329, ../sass/screen.scss */
      .info .footer-copy .full-size {
        display: none; } }
    /* line 332, ../sass/screen.scss */
    .info .footer-copy .mobile-footer {
      display: none; }
      @media screen and (max-width: 480px) {
        /* line 332, ../sass/screen.scss */
        .info .footer-copy .mobile-footer {
          display: block;
          margin-top: 1em; } }
